<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Areas</title>
</head>
<body>
    <h1>All areas</h1>
        <div>
            <a href="/areas/new">Add New Area</a>
        </div>
    <ul>
        <% for (let area of areas) { %>
            <li><a href="/areas/<%= area._id %>"> <%= area.title %> </a></li>
        <% } %>
    </ul>

</body>
</html>