<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row align-items-start p-5 my-2">
            <div class="">
                <div class="card shadow">
                    <img style="width: 24rem;" src="/images/patrick-fore-0gkw_9fy0eQ-unsplash.jpg"
                        class="card-img-top" alt="Antique Typewriter on Dark Wood">
                    <div class="card-body">
                        <h5 class="card-title">
                            Signup
                        </h5>
                        <form action="/register" class="validated-form" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" type="text" name="username" autofocus required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" type="password" name="password" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <button class="btn btn-success" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>